@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    font-size: 16px;
    margin: auto;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1{
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
    input {
      width: 100%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(21, 19, 19);

      &:focus {
        border: 2px solid rgba(0, 206, 158, 1);
      }
    }

    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      max-height: 100px;
      min-height: 100px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(21, 19, 19);

      &:focus {
        border: 2px solid rgba(0, 206, 158, 1);
      }
    }

    label {
      margin-top: 1rem;
    }

    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      font-size: 20px;
      background: rgb(249, 105, 14);
      width: 70%;
      color: white;
      border: none;
      margin-left: auto;
      margin-right: auto;
      font-family: "Montserrat Alternates", sans-serif;
    }
   .FlexDiv{
    display: grid;
    grid-template-columns: 1fr 2fr; /* Define three columns */
    align-items: center; 
    border: 2px solid #0F9FB4;
    margin:100px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, #5fffa7, #33b2fc);
   }
   @media only screen and (max-width: 767px) {
    .FlexDiv{
      margin: 40px;
      display: flex; 
      flex-direction: column;
    }
    .FlexDiv img{
      height:340px;
      width:auto;
    }
    form {
      width: 80%;  
      margin-bottom: 20px;
  }
  input[type="submit"] {
    width: 80%;
  }
  }
      