@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cedarville+Cursive&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  /* styles.css */
  
  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(45deg,  #3498db, #2ecc71);
  }
  .news-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .h12{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
  }
  .news-card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .news-card h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .news-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .news-card p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .news-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .news-card a:hover {
    text-decoration: underline;
  }
  